/*html { 
  background:  no-repeat center center fixed; 
  background: url(img.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}


